<!--EDUCACIÓN-->

<section class="card m-2 p-4">
  <div class="d-flex justify-content-between my-2" id="education">
    <h3>Educación</h3>
  </div>
  <hr />
  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="assets/ap borde.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Argentina-Programa - #SeProgramar</h4>
        <p class="my-0">Educacion</p>
        <p class="text-secondary">Agosto 2021 - Octubre 2021</p>
        <hr />
      </div>
    </div>
    <div>
      <i class="bi bi-pencil-square iconos"></i>
      <i class="bi bi-trash3 iconos"></i>
    </div>
  </div>

  <!--Entrada-->

  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="assets/ap borde.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Argentina Programa - #YoProgramo</h4>
        <p class="my-0">Curso</p>
        <p class="text-secondary">2021 - Actualidad</p>
        <hr />
      </div>
    </div>
    <div>
      <i class="bi bi-pencil-square iconos"></i>
      <i class="bi bi-trash3 iconos"></i>
     </div>
  </div>

  <!--Entrada-->

  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="assets/egg.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Programación Web Fullstack Junior</h4>
        <p class="my-0">Egg - Proyecto T.TEC</p>
        <p class="text-secondary">Octubre 2021 - Actualidad</p>
      </div>
    </div>
    <div>
      <i class="bi bi-pencil-square iconos"></i>
      <i class="bi bi-trash3 iconos"></i>
     </div>
  </div>
  <hr/>
</section>
